
<html>
<title>Smart HOME</title>
<body>
  <h1> Things my application can do </h1>
  <ul>
    <li> <a href="{{ url_for('createList') }}">Create a list</a>
    <li> <a href="{{ url_for('showReport') }}">See a Report</a>
    <li> <a href='http://127.0.0.1:5000/cookingSuggestion.html'>Cooking Suggestions</a>
    <li> <a href='http://127.0.0.1:5000/twitterSearch.html'>Twitter trends</a>
    <li> <a href='http://127.0.0.1:5000/liveMandiFeed.html'>What's in Season?</a>
    <li> <a href='http://127.0.0.1:5000/fssaiNews.html'>FSSAI and other news</a>
    <li> <a href='http://127.0.0.1:5000/stockMarket.html'>FMCG Stock Market News</a>
</ul>
</body>
</html>
