<html>
<title>Grocery Report</title>
<body>
  <h1> What does my grocery history tell me? </h1>
  <style>

   table, th, td{

    border: 1px solid #333;

   }

  </style>
  <table>
      <caption>I am the caption </caption>
       <tr>
          <th> ITEMS Purchased </th>
          <th> QUANTITY </th>
          <th> BASKETED YET? </th>
          <th> PRICE </th>
          <th> PURCHASED FROM </th>
          <th> DATE OF PURCHASE </th>
       </tr>
          {%for r in itemset%}
          <tr>
            <td align="center">{{r[0]}}</td>
            <td align="center">{{r[1]}}</td>
            <td align="center">{{r[2]}}</td>
            <td align="center">{{r[3]}}</td>
            <td align="center">{{r[4]}}</td>
            <td align="center">{{r[5]}}</td>
          </tr>
          {%endfor%}

  </table>
<a href="http://127.0.0.1:5000/">HOME</a>
</body>

</html>
